@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    
}
/*HEADER*/
.cabeçalho{
    background: linear-gradient(269.55deg, #FE7373 13.52%, rgba(254, 115, 115, 0.339822) 65.88%, rgba(254, 115, 115, 0) 92.61%), #FFA674;
    display: flex;
    flex-direction: row;
    align-items:center;
    font-family: 'Righteous', cursive;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    
    
    
}
.header1{
display: flex;
align-items:center;
gap: 10px;
}


.header-logo-txt{
 
    color:white;
    font-size: 30px;
    width:190px;
    
}
.header-logo-txt:hover{
    color: rgba(255, 0, 0, 0.47);
}
.recursos{
    
    color:white;
}
.recursos:hover{
    color: rgba(255, 0, 0, 0.47);
}
.downloads{
    color:white;
}
.downloads:hover{
    color: rgba(255, 0, 0, 0.47);
}
.contato{

    color:white;
}
.contato:hover{
    color: rgba(255, 0, 0, 0.47);
}
.header2{
    display: flex;
    align-items: center;
    gap: 50px;
    

}
.log-in{
    color: white;
    font-family: 'Righteous', cursive;
    cursor: pointer;
}
.log-in:hover{
    color: rgba(255, 0, 0, 0.47);
}
.cadastre-se{
    width:200px;
    height: 53px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #fe737300;
    color: white;
    font-family: 'Righteous', cursive;

}
.cadastre-se:hover{
    background-color: rgba(255, 0, 0, 0.47);
    border-color:rgba(255, 0, 0, 0.47);
    cursor:pointer;
}
/*MAIN*/

.main{
    
    background-image: url("../assets/new-fundo-main.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
    position:relative;  
    width: 100%;
    
    }
    .conteudo-principal{
        padding-bottom:550px;
        padding-right: 15%;
        padding-top: 2%;
    }
    .conteudo-nao-principal{
        padding-top: 5%;
    }

.carrossel img{
    transition: opacity 0.5s linear;
    position: absolute;
    opacity:0;

}

.right-arrow-colored{
    position:absolute;
    cursor:pointer;
    right:180px;
    top:300px;
    opacity: 0;
}

.right-arrow{
    cursor:pointer;
    position:absolute;
    right:180px;
    top:300px;
    opacity: 1;  
}
.right-arrow:hover{
    opacity: 0;
}
.right-arrow-colored:hover{
    opacity:1;
}
.botoes{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.disponivel-em{
    font-family: 'arial';
    color:white
}
.overlay{
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    z-index: 2;
}
.redes-sociais-bloco{
    padding-top: 5%;
}
.redes-sociais-txt{
    font-family: 'Righteous';
    padding-top: 10%;
    color:white;
    
    
}
.redes-sociais{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 50px;
    gap:25px;
    }
/*POP-UP DE LOG-IN*/
.login-page{
    position:absolute;
    top:20%;
    left:40%;
    
    background:white;  
    font-family: 'Poppins', sans-serif;
    border-radius: 14px;
    height:auto;
    width: 400px;
    color:rgb(0, 0, 0);
    transition: opacity 0.5s linear;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.login-page h2{
    font-weight: 400;
    padding-right: 170px;
    padding-bottom: 5px;
    font-size:28px;
}
.login-page input{
    padding:20px;
    width:300px;
    height:50px;
    border:none;
    border-radius: 70px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}
.lembrar-senha{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    padding-bottom: 30px;
}
.lembrar-senha input{
    height:20px;
    width:20px;

}

.entrar{
    width:300px;
    height: 50px;
    border: none;
    border-radius: 70px;
    background-color: rgba(255, 0, 0, 0.47);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: large;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    


}
.entrar:hover{
    background-color: rgba(255, 0, 0, 0.70);
}
.close-button{
    position:absolute;
    top: 10px;
    right:20px;
    width: 15px;
    height:15px;
    line-height: 15px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.47);
    cursor:pointer;
}
.close-button:hover{
    background-color:rgba(255, 0, 0, 0.7); ;
}
.acesso-rapido{
    display:flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}
.acesso-rapido-btns{
    display:flex;
    gap:30px;
    padding-top: 30px;
    padding-left:22.5px;
}

/*POP-UP DE CADASTRO*/
.cadastre-se-page{
    position:absolute;
    top:20%;
    left:40%;   
    background:white;  
    font-family: 'Poppins', sans-serif;
    border-radius: 14px;
    height:auto;
    width:450px;
    color:rgb(0, 0, 0);
    transition: opacity 0.5s linear;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cadastre-se-page h2{
    font-weight: 400;
    padding-right: 170px;
    padding-bottom: 5px;
    font-size:24px;
    padding-left: 22.5px;
    padding-bottom: 10px;
}
.form-signup{
    display:flex;
    padding-left: 22.5px;
}
.cadastre-se-page input{
    padding:20px;
    width:300px;
    height:50px;
    border:none;
    border-radius: 70px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    
}
.data{
    padding-bottom: 40px;;
}
.cadastre-se-button{
    width:300px;
    height: 50px;
    border: none;
    border-radius: 70px;
    background-color: rgba(255, 0, 0, 0.47);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: large;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.cadastre-se-button:hover{
    background-color: rgba(255, 0, 0, 0.70);
}
.close-button{
    position:absolute;
    top: 10px;
    right:20px;
    width: 15px;
    height:15px;
    line-height: 15px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.47);
    cursor:pointer;
}
.close-button:hover{
    background-color:rgba(255, 0, 0, 0.7); ;
}
.acesso-rapido2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}
.acesso-rapido-btns2{
    
    display:flex;
    gap:30px;
    padding-top: 30px;
    padding-left:40px;
}




/*FOOTER*/
.roda-pe{
    background: linear-gradient(269.55deg, #FE7373 13.52%, rgba(254, 115, 115, 0.339822) 65.88%, rgba(254, 115, 115, 0) 92.61%), #FFA674;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom:auto;
    width:100%;  
}

    .selecionar-idiomas{
    color:white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1%;
    padding-top:1%;
    }
    .selecionar-idiomas:hover{
        color: rgba(255, 0, 0, 0.47);
    }
    
span{
    display:none;
    color:red;
    padding-left:70px;
    padding-top: 10px;
}


    